<header class="header">
  <img class="logo" src="assets/logo.svg" alt="Logo" [routerLink]="['/']">
  
  @if (authService.isLoggedIn()) {
    <div class="user-info">
      <span>Hi, {{ authService.getCurrentUser() }}</span>
      @if (authService.isAdmin()) {
        <button (click)="goToAdmin()">Admin Page</button>
      }
      <button (click)="logout()">Logout</button>
    </div>
  } @else {
    <div class="login-prompt">
      <button [routerLink]="['/login']">Login</button>
    </div>
  }
</header>