@use 'sass:map';
@import '../../../styles.scss';

.admin-page {
  padding: 20px;
  background-color: map.get($mc-offwhite, 500); 
  color: black;

  h1 {
    font-size: 32px;
    font-weight: bold;
    color: map.get($mc-red, 500);
    margin-bottom: 20px;
  }

  .go-back-button {
    margin-bottom: 60px;

    button {
      background-color: map.get($mc-yellow, 500);
      color: black;
      font-size: 16px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: map.get($mc-yellow, 700);
      }
    }
  }

  .add-meal-button {
    margin-bottom: 20px;

    button {
      background-color: map.get($mc-red, 500);
      color: white;
      font-size: 16px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: map.get($mc-red, 700);
      }
    }
  }

  .delete-meal-button {
    margin-bottom: 20px;

    button {
      background-color: map.get($mc-yellow, 500);
      color: black;
      font-size: 16px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: map.get($mc-yellow, 700);
      }
    }
  }

  .toggle-orders {
    margin-top: 20px;
    text-align: center;

    button {
      background-color: map.get($mc-red, 500);
      color: white;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: map.get($mc-red, 700);
      }
    }
  }

  .filters {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    .sort {
      display: flex;
      flex-direction: column;
      font-size: 16px;

      h3 {
        font-size: 18px;
        color: map.get($mc-red, 500);
        margin-bottom: 10px;
      }

      select {
        padding: 8px;
        font-size: 14px;
        border: 1px solid map.get($mc-red, 500);
        border-radius: 5px;
      }
    }
  }

  .order-tiles {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .order-tile {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

      h3 {
        font-size: 18px;
        color: map.get($mc-red, 500);
      }

      .status {
        font-size: 14px;
        margin-top: 10px;
      }

      .payment {
        font-size: 14px;
        margin-top: 5px;
      }

      .items {
        margin-top: 15px;

        ul {
          padding-left: 20px;
          list-style-type: none;
        }

        li {
          font-size: 14px;
        }
      }

      .date {
        font-size: 12px;
        margin-top: 15px;
        color: gray;
      }
    }
  }

  .pagination {
    margin-top: 30px;
    text-align: center;

    button {
      background-color: map.get($mc-yellow, 500);
      color: black;
      font-size: 14px;
      padding: 8px 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin: 0 5px;
      transition: background-color 0.3s ease-in-out;

      &.active {
        background-color: map.get($mc-red, 500);
        color: white;
      }

      &:hover {
        background-color: map.get($mc-yellow, 700);
      }
    }
  }

  .items-per-page {
    margin-top: 20px;
    text-align: center;

    label {
      font-size: 16px;
    }

    select {
      padding: 8px;
      font-size: 14px;
      border: 1px solid map.get($mc-red, 500);
      border-radius: 5px;
    }
  }
}


@media (max-width: 768px) {
  .admin-page {
    padding: 10px;

    .order-tiles {
      grid-template-columns: 1fr; 
    }

    .filters {
      flex-direction: column;
      align-items: center;
    }

    .pagination {
      margin-top: 20px;
      button {
        width: 100%;
        margin: 5px 0;
      }
    }
  }
}
