<div class="meal-details">
  <button (click)="goBack()">Go Back</button>
  <h1>{{ meal?.name }}</h1>
  <img [src]="getMealImage(meal?.id ?? 100)" [alt]="meal?.name" />
  <p>Price: {{ meal?.price }} €</p>
  <p>Ingredients:</p>
  <ul>
    @for (ingredient of meal?.ingredients; track ingredient.id) {
      <li>{{ ingredient.name }}</li>
    }
  </ul>
  @if (authService.isAdmin()) {
    <button (click)="openEditMealModal()">Edit Meal</button>
    <button (click)="deleteMeal()">Delete Meal</button>
  }

  <app-add-meal-modal
    [isVisible]="isEditMealModalVisible"
    [meal]="meal"
    (closeModal)="closeEditMealModal()"
    (mealUpdated)="onMealUpdated($event)"
  ></app-add-meal-modal>
</div>