.ad-banner {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .ad-banner img {
    width: 100%;
    max-width: 100vw;
    border-radius: 8px;
  }
  .ad-banner {
    width: 60vw;
  }