@use 'sass:map';
@import '../../../styles.scss';


.ad-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background-color: map.get($mc-offwhite, 500);
  padding: 20px;
}

.ad-banner {
  width: 100%; 
  max-width: 800px;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  &:hover {
    transform: scale(1.05);
  }
}

.ad-button {
  background-color: map.get($mc-yellow, 500);
  color: black;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: map.get($mc-yellow, 700);
  }
}

@media (max-width: 768px) {
  .ad-container {
    height: auto;
    padding: 10px;
  }

  .ad-banner {
    width: 100%;
    max-width: 400px;
  }

  .ad-button {
    width: 90%;
    font-size: 16px;
  }
}
