@if (isVisible) {
  <div class="modal-content">
    <h2>{{ isEditMode ? 'Edit Meal' : 'Add New Meal' }}</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="meal!.name" name="name" required />
      </div>

      <div class="form-group">
        <label for="category">Category:</label>
        <select id="category" [(ngModel)]="meal!.category" name="category" required>
          @for (category of categories; track category) {
            <option [value]="category">{{ category }}</option>
          }
        </select>
      </div>

      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" [(ngModel)]="meal!.price" name="price" step="0.01" required />
      </div>

      <div class="form-group">
        <label for="form-group">Ingredients:</label>
        <div class="ingredients-container">
          @for (ingredient of ingredients; track ingredient.id) {
            <div class="ingredient-checkbox">
              <label for="ingredient-{{ ingredient.id }}">
                <input
                  type="checkbox"
                  id="ingredient-{{ ingredient.id }}"
                  [(ngModel)]="ingredientSelection[ingredient.id]"
                  name="ingredients-{{ ingredient.id }}"
                />
                {{ ingredient.name }}
              </label>
            </div>
          }
          @empty {
            <p>No ingredients available.</p>
          }
        </div>
      </div>

      <div class="form-actions">
        <button type="button" (click)="onClose()">Cancel</button>
        <button type="submit">{{ isEditMode ? 'Update Meal' : 'Add Meal' }}</button>
      </div>
    </form>
  </div>
}